*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #fff;
}

h1{ text-align: center; padding: 30px; }

.table-binance{
    margin: auto;
    min-width: 600px;
    box-shadow: 0 0 25px #a39e8e;
    border-collapse: collapse;
}

.table-binance thead tr{
    background-color: #191919;
    color: #fff;
    text-align: center;
}

.table-binance th,
.table-binance td{
    padding: 20px 20px;
    text-align: center;
}

.table-binance tbody tr:nth-of-type(even){
    background-color: #e2e2e2;
}